* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  /* מונע גלילה אופקית מיותרת */
  overflow-x: hidden; 
}

#root {
  width: 100%;
  min-height: 100vh;
}